<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="bootstrap.css">
    <title>Quiz Dragon Ball Z</title>
</head>
<body>
	<div class="contenedor">
		<h1>¿Que personaje de Dragon Ball Z eres?</h1>
	<div class="img">
		 <img src="img/dbz.jpg"/>
	</div>
	<p></p>
    <form th:action="@{/DBZQuiz}" method="POST">
    Nombre de usuario: 
    <p>
    <input type="text" name="nombreUsuario" value="" required>
    </p>
    <p>
        <input type="submit" value="Empezar">
    </p>
    </form>
	</div>
</body>
</html>