<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="centrarPreguntas.css">
	<link rel="stylesheet" href="bootstrap.css">
	<title>Quiz pregunta 4</title>
</head>

<body>

	<div class="contenedorPreguntas">
	<h1>¿Que personaje de Dragon Ball Z eres?</h1>
		<h2>¿Cuál de estas opciones te representa más?</h2>
		<form th:action="@{/Pregunta4}" method="POST">
			<p>
				<select name="select">
					<option selected>Soy Demasiado compasivo con los demas</option>
					<option>Deseo el mal a los demás</option>
					<option>Me paso de sobreprotector con mi entorno</option>
					<option>Pienso en mi por encima del resto</option>
				</select>
			<p><input type="submit" value="Enviar"></p>
			</p>
		</form>
	</div>
</body>

</html>