<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="centrarPreguntas.css">
	<link rel="stylesheet" href="bootstrap.css">
	<title>Quiz pregunta 5</title>
</head>

<body>

	<div class="contenedorPreguntas">
	<h1>¿Que personaje de Dragon Ball Z eres?</h1>
		<h2>¿Cuál es tu punto fuerte?</h2>
		<form th:action="@{/Pregunta5}" method="POST">
			<p>
				<input type="radio" name="fuerte" value="Fuerza" checked="1"> Fuerza
				</br>
				<input type="radio" name="fuerte" value="Inteligencia"> Inteligencia
				</br>
				<input type="radio" name="fuerte" value="Perseverancia"> Perseverancia
				</br>
				<input type="radio" name="fuerte" value="Ninguna de las anteriores"> Ninguna de las anteriores
			<p><input type="submit" value="Enviar"></p>
			</p>
		</form>
	</div>
</body>

</html>