<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="centrarPreguntas.css">
	<link rel="stylesheet" href="bootstrap.css">
	<title>Quiz pregunta 1</title>
</head>

<body>
	<div class="contenedorPreguntas">
		<h1>¿Que personaje de Dragon Ball Z eres?</h1>
		<h2>¿Cuál es tu color favorito?</h2>
		<form th:action="@{/Pregunta1}" method="POST">
			<p>
				<input type="radio" name="color" value="Naranja" checked="1"> Naranja
				</br>
				<input type="radio" name="color" value="Azul"> Azul
				</br>
				<input type="radio" name="color" value="Rosa"> Rosa
				</br>
				<input type="radio" name="color" value="Morado"> Morado
				</br>
			<p><input type="submit" value="Enviar"></p>
			</p>
		</form>
	</div>
</body>

</html>